---
title: Schedule
layout: default
---

<main role="main">
    <div class="container">
        {% include title-section.html %}

        <div class="row">
            <div class="col-12">
                <p>
                    <a href="calendar-embedded.html">View this page as a Google Calendar</a>
                </p>
            </div>
        </div>

        <div class="bg-white">
            <div class="row">
                <div class="col-12">
                    <h2>Future Events</h2>
                </div>

                {% include_relative 2020-05-111314.html %}
            </div>

            <div class="row">
                {% include_relative 2020-05-182021.html %}
            </div>

            <div class="row">
                {% include_relative 2020-05-252728.html %}
            </div>

            <div class="row">
                {% include_relative 2020-06-010304.html %}
            </div>

            <div class="row">
                {% include_relative 2020-06-081011.html %}
            </div>

            <div class="row">
                {% include_relative 2020-06-151718.html %}
            </div>

            <br />
            <br />

            <div class="row faded">
                <div class="col-12">
                    <h2>Past Events</h2>
                </div>
                {% include_relative 2020-03-272829.html %}
            </div>

            <div class="row faded">
                {% include_relative 2020-04-030405.html %}
            </div>

            <div class="row faded">
                {% include_relative 2020-04-101112.html %}
            </div>

            <div class="row faded">
                {% include_relative 2020-04-171819.html %}
            </div>

            <div class="row faded">
                {% include_relative 2020-04-242526.html %}
            </div>

            <div class="row faded">
                {% include_relative 2020-05-010203.html %}
            </div>

            <div class="row faded">
                {% include_relative 2020-05-080910.html %}
            </div>
        </div>
    </div>
</main>