<header>
    <div class="navbar navbar-expand-md navbar-light bg-light box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="index.html" class="navbar-brand d-flex align-items-center">
                <strong>RUBSAC Lectures Online</strong>
            </a>
            <div class="nav-item center">
                <a href="calendar.html">Schedule</a>
            </div>
            <div class="nav-item center">
                <a href="links.html">Links</a>
            </div>
            <div class="nav-item center">
                <a href="instructions.html">Instructions</a>
            </div>
            <div class="nav-item center">
                <a href="faq.html">FAQ</a>
            </div>
            <a href="signup.html">
                <div class="nav-item center signup">
                    Sign Up
                </div>
            </a>
            <button class="navbar-toggler backup-navbar-toggler pull-right" type="button" data-toggle="collapse"
                data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="collapse bg-info" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="dropdown-nav-item nav-link center">
                    <a href="calendar.html">Schedule</a>
                </div>
                <div class="dropdown-nav-item center">
                    <a href="links.html">Links</a>
                </div>
                <div class="dropdown-nav-item center">
                    <a href="instructions.html">Instructions</a>
                </div>
                <div class="dropdown-nav-item center">
                    <a href="faq.html">FAQ</a>
                </div>
            </div>
        </div>
    </div>
</header>