<header>
    <div class="navbar navbar-light bg-light box-shadow">
        <div class="container d-flex justify-content-between">
            <div>
                <a href="index.html" class="navbar-brand d-flex align-items-center">
                    <strong>RUBSAC Lectures Online</strong>
                </a>
            </div>
            <div class="center">
                <a href="calendar.html">Schedule</a>
            </div>
            <div class="center">
                <a href="links.html">Links</a>
            </div>
            <div class="center">
                <a href="faq.html">FAQ</a>
            </div>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader"
                aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
    <div class="collapse bg-info" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p class="text-white">
                        As COVID-19 ravages the UK, RUBSAC have taken their lectures online and are offering
                        them to anyone in the country who wants to listen. We're coordinating with BSAC HQ
                        to ensure that the lectures can be recorded in your log books with a valid instructor
                        number and code; all you need to do is the dives and you're all set!
                    </p>
                    <p class="text-white">
                        All the lectures are free, and this web site will give you the schedules and resources
                        you need in order to keep up with some training while we're all cooped up indoors.
                    </p>
                    <br />
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Links</h4>
                    <ul class="list-unstyled">
                        <li>
                            <span class="text-white fas fa-water"></span>
                            <a href="https://www.bsac.com/" target="_blank" class="text-white">BSAC</a>
                        </li>
                        <li>
                            <span class="text-white fab fa-microsoft"></span>
                            <a href="https://teams.microsoft.com/start" target="_blank" class="text-white">Microsoft
                                Teams</a>
                        </li>
                        <li>
                            <span class="text-white fas fa-envelope"></span>
                            <a href="mailto:d.ashmore@reading.ac.uk?subject=RUBSAC Lectures Online" class="text-white">Organiser</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>